@import url('../../base.css');


#mainContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  
  > #student-profile, > #student-settings {
    background-color: white;
    border-radius: 13px;
    box-sizing: border-box;
    height: 380px;
    overflow: clip;
  }

  > #student-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px 13px;
    width: 280px;

    > #profile-picture {
      align-self: center;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      width: 40%;
    }

    > #profile-name {
      align-self: center;
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  > #student-settings {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 800px;

    > header {
      box-sizing: border-box;
      width: 165px;

      > nav {
        background-color: #EFEFEF;
        border-right: 2px solid lightgray;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        align-items: center;
        overflow-x: clip;
        overflow-y: auto;
        padding: 10px 10px;

        > button {
          background: none;
          border: none;
          border-radius: 5px;
          color: var(--signature-blue);
          cursor: pointer;
          font-family: "Rubik";
          font-weight: 500;
          padding: 8px 13px;
          text-align: left;
          width: 100%;

          &:hover {
            background-color: lightgray;
          }

          &.active {
            font-weight: 800;
          }

          &#navigation-logOut {
            color: red;
          }
        }
      }
    }

    > main {
      overflow-x: clip;
      overflow-y: auto;
      scroll-behavior: smooth;
      width: calc(100% - 165px);

      > section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 18px;

        &#section-account::before {
          color: var(--signature-blue);
          content: "Account";
          display: block;
          padding: 0 15px;
          font-weight: 900;
        }

        &#section-notifications {
          gap: 6px;
          
          &::before {
            color: var(--signature-blue);
            content: "Notifications";
            display: block;
            padding: 0 15px;
            font-weight: 900;
          }

          > div {
            padding-bottom: 0;
            padding-top: 0;
          }
        }

        &#section-logOut {
          padding: 9px 0;

          > #button-logOut {
            align-self: center;
            aspect-ratio: 9 / 3;
            background-color: red;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: 100px;
          }
        }

        > div {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          font-size: 1em;
          justify-content: space-between;
          padding: 10px 15px;
          position: relative;

          &.editable {
            cursor: pointer;
            
            &::after {
              aspect-ratio: 1 / 1;
              background-image: url('../../assets/edit.png');
              background-size: cover;
              content: "";
              height: max-content;
              justify-self: end;
              width: 20px;
            }
          }

          &.toggleable {
            cursor: pointer;
            
            &::after {
              aspect-ratio: 1 / 1;
              background-image: url('../../assets/buttonUntoggled.png');
              background-size: cover;
              content: "";
              height: max-content;
              justify-self: end;
              width: 20px;
            }
            
            &.active::after {
              background-image: url('../../assets/buttonToggled.png');
            }
          }
          
          &#section-account-studentId {
            cursor: pointer;
            
            &::before {
              color: var(--signature-blue);
              content: "Student ID";
              font-size: 0.8em;
              font-style: italic;
              font-weight: 500;
              position: absolute;
              top: -5px;
            }
          }
          
          &#section-account-studentName::before {
            color: var(--signature-blue);
            content: "Student Name";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-sex::before {
            color: var(--signature-blue);
            content: "Sex";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-birthDate::before {
            color: var(--signature-blue);
            content: "Birth Date";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-address::before {
            color: var(--signature-blue);
            content: "Address";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-emailAddress::before {
            color: var(--signature-blue);
            content: "Email Address";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-contactNumber::before {
            color: var(--signature-blue);
            content: "Contact Number";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }
          
          &#section-account-nationality::before {
            color: var(--signature-blue);
            content: "Nationality";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-status::before {
            color: var(--signature-blue);
            content: "Status";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }

          &#section-account-religion::before {
            color: var(--signature-blue);
            content: "Religion";
            font-size: 0.8em;
            font-style: italic;
            font-weight: 500;
            position: absolute;
            top: -5px;
          }
        }

        > p {
          font-size: 0.8em;
          margin: 0;
          padding: 0 15px;
          padding-bottom: 4px;
        }
      }
    }
  }
}