@import url('../../base.css');


#mainContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;

  > #section-calendar {
    aspect-ratio: 5 / 3;
    background-color: white;
    border-radius: 12px;
    height: max-content;
    padding: 20px;

    > header {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      > button {
        align-items: center;
        aspect-ratio: 1 / 1;
        background: #E3E3E3;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        outline: none;
        vertical-align: middle;
        
        &:hover {
          cursor: pointer;
        }
      }

      > #container-monthName {
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: bold;
        padding: 3px 7px;
        
        &:hover {
          background-color: lightgray;
          cursor: pointer;
        }
      }
    }

    > main {
      > .calendar {
        border-spacing: 10px;

        th, td {
          border-radius: 13px;
          padding: 2px 7px;
          text-align: end;
          width: 35px;
        }

        th {
          font-weight: 500;
        }

        td {
          &:hover {
            background-color: #7AA2C4;
            cursor: pointer;
          }

          &.calendar-anotherMonthDate {
            color: #5D5555;
          }

          &.calendar-holiday {
            color: red;
          }
          
          &.calendar-today {
            background-color: var(--signature-blue);
            color: white;

            &.calendar-hasEvents {
              &:before {
                color: var(--signature-yellow);
              }
            }
          }

          &.calendar-hasEvents {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            
            &:before {
              color: var(--signature-blue);
              border-radius: 5px;
              content: "·";
            }
          }
        }
      }
    }

    > footer {
      color: gray;
      font-size: 0.7em;
    }
  }

  > #calendar-info {
    aspect-ratio: 4 / 2;
    background-color: white;
    border-radius: 12px;
    box-sizing: border-box;
    height: calc(100% - 30px);
    padding: 15px 18px;

    > header {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      > a {
        border-radius: 10px;
        color: var(--signature-blue);
        padding: 5px 7px;
        text-decoration: none;

        &:hover {
          background-color: lightgray;
        }

        &:visited {
          color: var(--signature-blue);
        }
      }
      
      > #calendar-info-date {
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    > main {
      > #calendar-events {
        display: flex;
        flex-direction: column;
        height: calc(100% - 28px);
        margin-top: 8px;
        overflow-x: clip;
        overflow-y: auto;
  
        > .calendar-event {
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          padding: 7px 10px;
          
          &:hover {
            background-color: lightgray;
            cursor: pointer;
          }
  
          > header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            > .calendar-event-name {
              font-weight: 500;
            }
          }
  
          > main {
            margin-top: 3px;
            padding-left: 13px;
            
            > .calendar-event-description {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}