@import url('../../base.css');


#mainContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding-top: 40px;
  
  > #input-search {
    border: 1px solid var(--signature-blue);
    border-radius: 13px;
    font-family: "Rubik";
    left: 50%;
    padding: 5px 13px;
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
    width: 250px;

    &:focus {
      outline: none;
    }
  }

  > #sidePanel {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 93%;
    padding: 13px;
    width: 275px;

    > button {
      background: none;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-family: "Rubik";
      font-size: 1em;
      justify-content: space-between;
      padding: 3px 8px;
      
      &#button-composeMail {
        align-items: center;
        background-color: var(--signature-yellow);
        display: flex;
        gap: 10px;
        justify-content: center;
        padding: 8px;
        font-weight: 500;
        
        &::before {
          aspect-ratio: 1 / 1;
          background-image: url('../../assets/compose.png');
          background-size: cover;
          content: "";
          width: 18px;
        }
      }
      
      &:hover {
        background-color: lightgray;
      }

      > .title {
        font-weight: 500;
      }

      > .notif-count {
        color: gray;
      }
    }
  }

  > #mainPanel {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 93%;
    overflow-x: clip;
    overflow-y: auto;
    padding: 13px;
    width: 950px;

    > .mail {
      border: 1px solid lightgray;
      border-radius: 8px;
      cursor: pointer;
      padding: 5px 13px;
      position: relative;

      &:hover > .mail-actions {
        visibility: visible;
      }
      
      &.markedAsRead > .mail-title {
        font-size: 1em;
        font-weight: normal;
      }

      > .mail-title {
        font-size: 1em;
        font-weight: 500;
      }

      > .mail-description {
        font-size: 0.8em;
      }

      > .mail-actions {
        display: flex;
        flex-direction: row;
        gap: 8px;
        position: absolute;
        right: 10px;
        top: 10px;
        visibility: hidden;

        > img {
          aspect-ratio: 1 / 1;
          width: 18px;
        }
      }
    }
  }
}